modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

run = "corepack npm@10.9.4 run dev:web"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "corepack npm@10.9.4 run build && corepack npm@10.9.4 run preview"]
deploymentTarget = "cloudrun"
